# ignore IDE scaffolding
## NetBeans
/nbproject/

## Jetbrains
/.idea/

## VSCode
/.vscode/launch.json

# ignore tooling
## Windows / WSL
Thumbs.db
.DS_Store
*:Zone.Identifier

## (per-developer) phpunit config and phpunit cache
/.phpunit.result.cache
/phpunit.xml

## .git/ in composer-installed projects (created by git clone not zipball)
/vendor/phplot/phplot/.git/

## other
KLConfig/

# do not ever distribute local config.php (only config.distrib.php is distributed)
# to avoid accidential disclosure of database or other credentials
/config.php

# ignore everything in companies/ except weberpdemo/
/companies/*
!/companies/weberpdemo
