# Ignore NetBeans project metadata
/nbproject/
# As well as Jetbrains stuff
/.idea/
# And VSCode
/.vscode/launch.json
# And random assorted tooling files
Thumbs.db

# Only config.distrib.php is to be distributed
/config.php

# Ignore everything in the companies directory...
/companies/*
# ...except for weberpdemo
!/companies/weberpdemo

# the per-developer phpunit config and phpunit cache
/.phpunit.result.cache
/phpunit.xml

# And the eventual .git dir from composer-installed projects which are downloaded as git clones instead of zipballs
/vendor/phplot/phplot/.git/
