Options -Indexes

# Use PHP54 as default
AddHandler application/x-httpd-php54 .php

<IfModule mod_suphp.c>
#    suPHP_ConfigPath /opt/php54/lib
suPHP_ConfigPath /home4/kurakura/public_html/ptadu.com/weberp 
</IfModule>


