# Version 00 at 2025-08-03 04:00 WIT (approx) after server elevation to Almalinux 8.10 and MariaDB 10.3.39
# Version 01 at 2025-08-03 09:51 WIT settings copied by KL RICARD from old MariaDB 5 server, as standard MariaDB 10 settings caused it to go very slow
# Version 02 at 2025-08-06 09:30 WIT Fixed compatibility issues with MariaDB 10.3.39 (Use shorthand format for large values)
# Version 03 at 2025-08-07 09:00 WIT add slow queries log, queries without indexes
# Version 04 at 2025-08-07 14:30 WIT adjust some settings (Gemini)

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# Server-specific settings
#
[mysqld]
# inherited from old MariaDB 5 server, as standard MariaDB 10 settings caused it to go very slow
innodb_buffer_pool_size = 8G
optimizer_switch = 'index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,index_merge_sort_intersection=on,engine_condition_pushdown=off,index_condition_pushdown=on,derived_merge=on,derived_with_keys=on,firstmatch=on,loosescan=on,materialization=on,in_to_exists=on,semijoin=on,partial_match_rowid_merge=on,partial_match_table_scan=on,subquery_cache=on,mrr=on,mrr_cost_based=off,mrr_sort_keys=off,outer_join_with_cache=on,semijoin_with_cache=on,join_cache_incremental=on,join_cache_hashed=on,join_cache_bka=on,optimize_join_buffer_size=off,table_elimination=on,extended_keys=on,exists_to_in=on,orderby_uses_equalities=on,condition_pushdown_for_derived=on'
join_cache_level = 8
join_buffer_space_limit = 2G
join_buffer_size = 128M
connect_timeout = 600

tmp_table_size = 64M
max_heap_table_size = 64M

#MyISAM settings
key_buffer_size = 32M

# log MariaDB
innodb_log_file_size = 256M
log_queries_not_using_indexes = 1
log_output = TABLE

# queries over 3 seconds will be logged as slow
slow_query_log = 1
slow_query_log_file = /var/log/mariadb/mariadb-slow.log
long_query_time = 3

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d