# Version 00 at 2025-08-03 04:00 WIT (approx) after server elevation to Almalinux 8.10 and MariaDB 10.3.39
# Version 01 at 2025-08-03 09:51 WIT settings copied by KL RICARD from old MariaDB 5 server, as standard MariaDB 10 settings caused it to go very slow
# Version 02 at 2025-08-06 09:30 WIT Fixed compatibility issues with MariaDB 10.3.39 (Use shorthand format for large values)
# Version 03 at 2025-08-07 09:00 WIT add slow queries log, queries without indexes
# Version 04 at 2025-08-07 14:30 WIT adjust some settings (Gemini)
# Version 05 at 2025-08-11 06:45 WIT adjust key_buffer_size as phpMyAdmin suggestions
# Version 06 at 2025-08-13 08:15 WIT adjust tmp_table_size, max_heap_table_size as phpMyAdmin suggestions
# Version 07 at 2025-08-13 10:00 WIT adjust sort_buffer_size, read_rnd_buffer_size, table_open_cache as phpMyAdmin suggestions
# Version 08 at 2025-08-15 17:00 WIT restore settings as v06 as v07 degraded. Maybe too much changes at once?

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# Server-specific settings
#
[mysqld]

innodb_buffer_pool_size = 8G

optimizer_switch = 'index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,index_merge_sort_intersection=on,engine_condition_pushdown=off,index_condition_pushdown=on,derived_merge=on,derived_with_keys=on,firstmatch=on,loosescan=on,materialization=on,in_to_exists=on,semijoin=on,partial_match_rowid_merge=on,partial_match_table_scan=on,subquery_cache=on,mrr=on,mrr_cost_based=off,mrr_sort_keys=off,outer_join_with_cache=on,semijoin_with_cache=on,join_cache_incremental=on,join_cache_hashed=on,join_cache_bka=on,optimize_join_buffer_size=off,table_elimination=on,extended_keys=on,exists_to_in=on,orderby_uses_equalities=on,condition_pushdown_for_derived=on'

join_cache_level = 8
join_buffer_space_limit = 2G
join_buffer_size = 128M

connect_timeout = 600

# Improve phpMyAdmin Advisor issue: Too many sorts are causing temporary tables.
# Added in v07 Commented in v08.
# sort_buffer_size = 4M
# read_rnd_buffer_size = 2M
# END Improve

# Improve phpMyAdmin Advisor issue: Many temporary tables are being written to disk instead of being kept in memory.
# By default v06 = 64M. Modified to 128M in v07. Restored to 64M in v08.
tmp_table_size = 64M
max_heap_table_size = 64M
# END Improve

# Improve phpMyAdmin Advisor issue: The rate of opening tables is high.
# Added in v07 commented in v08.
# table_open_cache = 4096
# END Improve

# Improve Buffer for MyISAM table indexes. Most of tables are InnoDB, so it can be lowered
key_buffer_size = 16M
# END Improve

# log MariaDB
innodb_log_file_size = 256M
log_queries_not_using_indexes = 1
log_output = TABLE
# END log MariaDB

# Slow Queries Log: queries over 3 seconds will be logged as slow
slow_query_log = 1
slow_query_log_file = /var/log/mariadb/mariadb-slow.log
long_query_time = 3
# END Slog Queries Log

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
